<div class="simon">

  <div class="gel-layout">

    {{#each items}}
      <div class="simon__item gel-layout__item gel-1/2 gel-1/4@m" data-item-count="{{../items.length}}">

        {{> molecules/promo }}

      </div>
    {{/each}}

  </div>

</div>
