// - Reds
$news:     #BB1919;
$newsbeat: #4D2C7A;

// - Greys
$body-copy:    #404040;
$summary-copy: #5A5A5A;
$keyline:      #DCDCDC;

// - Blues
$link:       #222222;
$link-hover: #1167A8;

// - Yellows
$sport: #FFDF43
