<div class="orb-header">

  <div class="gel-wrap">

    <a href="/" class="orb-header__blocks">
      <img src="img/branding/bbc-blocks-dark.png" alt="BBC" width="84" height="24" />
    </a>

  </div>

</div>
