<div class="contributor">
  <div class="contributor__avatar">
    {{#avatar}}
      {{atom "ux-news-matter/avatar"}}
    {{/avatar}}
  </div>
  <div class="contributor__body">
    <span class="contributor__name">{{name}}</span>
    <span class="contributor__title">{{title}}</span>
  </div>
</div>
