<ul class="metadata {{classes}}">
  <li class="metadata__time">
    {{#time}}
      {{> atoms/icon}} {{duration}}
    {{/time}}
  </li>
  <li class="metadata__section">
    <a href="#">{{section}}</a>
  </li>
  <li class="metadata__comments">
    {{#comments}}
      {{> atoms/icon}} {{count}}
    {{/comments}}
  </li>
</ul>
