<ul class="metadata {{classes}}">
  <li class="metadata__time">
    {{> atoms/icon classes="icon--type" set="core" icon="duration"}} {{timestamp}}
  </li>
  <li class="metadata__section">
    <a href="#">{{section}}</a>
  </li>
  {{#comments}}
    <li class="metadata__comments">
        {{> atoms/icon classes="icon--type" set="social" icon="comments"}} {{numComments}}
    </li>
  {{/comments}}
</ul>
