{{!-- <div class="promo">
  <div class="promo__thumb">
    {% if include.label %}
      {% include atoms/label.html label-classes="promo__label" text=include.text %}
    {% endif %}
    {% if include.thumb %}
      {% include atoms/image.html src=include.thumb %}
    {% endif %}
  </div>

  <h3>{{ include.headline | default: "Large Hadron Collider restarts after two-year rebuild" }}</h3>
  <p>{{ include.summary | default: "Particle beams have now travelled in both directions, inside parallel pipes, at a whisker below the speed of light." }}</p>

  {% if include.contributor %}
    {% include molecules/contributor.html %}
  {% endif %}
  {% include molecules/metadata.html %}
  {% include molecules/see-also.html %}
</div> --}}
