<div class="promo">
  <div class="promo__thumb">
    {{#label}}
      {{> atoms/label classes="promo__label"}}
    {{/label}}

    {{#media}}
      {{> atoms/image}}
    {{/media}}
  </div>

  <h3>{{headline}}</h3>

  {{#summary}}
    <p>{{text}}</p>
  {{/summary}}

  {{#contributor}}
    {{> molecules/contributor}}
  {{/contributor}}

  {{> molecules/metadata metadata}}

  {{#see-also}}
    {{> molecules/see-also}}
  {{/see-also}}
</div>
