<ul class="see-also {{classes}}">
  {{#anchors}}
    <li class="{{classes}}">
      <a href="#">
        {{#icon}}
          {{atom "bbc-news-matter/icon" classes="icon--type icon--label"}}
        {{/icon}}
        {{text}}
      </a>
    </li>
  {{/anchors}}
</ul>
