{{!-- {% include atoms/label.html label-classes="label--inline" icon-classes="icon--label" set="media" name="video" %}  --}}
<ul class="see-also">
  {{#anchors}}
    <li class="{{classes}}"><a href="#">{{text}}</a></li>
  {{/anchors}}
</ul>
