.promo {

  .image {
    display: block;
  }
  h3 {
    @include gel-typography('great-primer-bold');
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    @include gel-typography('long-primer');
    color: $summary-copy;
    margin-top: $gel-spacing-unit;
    margin-bottom: $gel-spacing-unit;
  }
}
  .promo__thumb {
    position: relative;
    margin-bottom: $gel-spacing-unit;

    // Label's inside thumbs get positioned absolutely
    .promo__label {
      position: absolute;
      top: 0; left: 0;
      z-index: 10;
    }
  }
    .promo__label {
      margin-bottom: $gel-spacing-unit;
    }
  .promo__body {
    padding-bottom: $gel-spacing-unit * 2;
  }


// Lead Promo
//

.promo--lead {
  @include clearfix;

  @include mq($until: 'gel-bp-m') {
    p {
      display: none;
    }
  }

  .promo__thumb {

    @include mq($from: 'gel-bp-m') {
      margin-bottom: $gel-spacing-unit * 2;
      width: 65.5%;
    }
  }
  .promo__body {

    @include mq($from: 'gel-bp-m') {
      padding-left: $gel-spacing-unit * 2;
      width: 34.5%;
    }
  }
  .promo__thumb,
  .promo__body {

    @include mq($from: 'gel-bp-m') {
      float: left;
    }
  }
}
