<div class="promo">
  <div class="promo__thumb">
    {{#label}}
      {{> atoms/label classes="promo__label"}}
    {{/label}}

    {{#media}}
      {{> atoms/image}}
    {{/media}}
  </div>

  <div class="promo__body">
    <h3>{{headline}}</h3>

    {{#summary}}
      <p>{{text}}</p>
    {{/summary}}

    {{#contributor}}
      {{> molecules/contributor}}
    {{/contributor}}

    {{#metadata}}
      {{> molecules/metadata}}
    {{/metadata}}

    {{#see-also}}
      {{> molecules/see_also}}
    {{/see-also}}
  </div>
</div>
