.icon {
  display: inline-block;

  &,
  svg {
    height: 32px;
    width: 32px;
  }
}
  .icon--type {
    line-height: 1;
    margin-top: -0.25em;
    vertical-align: middle;

    &,
    svg {
      height: 1em;
      width: 1em;
    }
  }
  .icon--label {

    &,
    svg {
      height: 1em;
      width: 1em;
    }
    svg {
      fill: #FFF;
    }
  }
